.card {
    background-color: var(--card-bg);
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 1px solid #333;
    transform-style: preserve-3d;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        border-color: var(--primary-color);
    }
}

.thumbnailContainer {
    aspect-ratio: 16 / 9;
    color: #777;
    background-color: color-mix(in srgb, #333, transparent 90%);
    font-size: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.cardTitle {
    color: var(--primary-color);
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.cardDescription {
    text-overflow: ellipsis;
    overflow: scroll;
}