.popupContainer {
    margin: 0;
    padding: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.popupContent {
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 10px 20px 20px 20px;
    border: 1px solid var(--primary-color);
    width: 80%;
    max-width: 600px;

    border-radius: 8px;
    box-shadow: 0 0 20px color-mix(in srgb, var(--primary-color), transparent 80%);
    box-sizing: border-box;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.popupTitle {
    color: var(--primary-color);
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: scroll;
    margin: 0;
}

.closeButton {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    font-size: 1.5rem;
    font-weight: normal;
    cursor: pointer;
    transition: filter 0.3s ease;
    padding: 0;
    line-height: 1;
    margin-left: 10px;

    &:hover {
        filter: brightness(50%);
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.downloadButton {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
        color: var(--text-color);
    }
}

.descriptionContainer {
    overflow: scroll;
}

.description {
    text-overflow: ellipsis;
}