.imageContainer {
    color: #777;
    aspect-ratio: 16 / 9;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;

    max-height: 35vh;
    width: 100%;

    img {
        clip-path: inset(0 round 8px);
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fadeIn 0.6s ease;
        font-size: 24px;
    }
}

.hidden {
    display: none !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.navButton {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    font-size: 1.5rem;
    font-weight: normal;
    cursor: pointer;
    transition: filter 0.3s ease;
    padding: 0;
    line-height: 1;
    z-index: 1;

    &:hover {
        filter: brightness(50%);
    }
}